*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Rye', cursive;
}

body{
	height: 100vh;
	width: 100vw;
	background: radial-gradient(#2dbd5f,#1d7a3e, #157007);
}

h1{
	font-size: 6rem !important;
}

main{
	margin: 0 auto;
	width: 80vw;
	height: 100%;
}
header{
	padding: 2rem 0;
	text-align: center;
}

.page-1{
	display: initial;
}

.page-2{
	display: none;
}

.page-3{
	display: none;
}


.page-1-section{
	height: 100vh;
	display: flex;
	flex-direction: column;
}

.introduction{
	margin: 3rem 0 8rem 0;
	font-size: 1.25rem;
	line-height: 2rem;
}

.start-btn{
	font-size: 2.5rem;
	padding: 0.5rem 5rem;
	border-radius: 2.5rem;
	align-self: center;
	outline: none;
}

.page-2-section{
	font-size: 2.5rem;
	display: flex;
	flex-direction: column;
	text-align: center;
	height: 100%;
}

.go-btn{
	font-size: 2.5rem;
	align-self: center;
	padding: 0.5rem 5rem;
	border-radius: 4rem;
	outline: none;
}

.plus-btn, .minus-btn, .bet-value{
	font-size: 2.5rem;
	padding: 0.5rem 2.5rem;
	outline: none;
}

.bet-container{
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding-bottom: 15rem;
}

.page-3-section{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	height: 100vh;
}

.dealer-cards{
	margin-top: 5rem;
}
.card{
	width: 8rem;
}

.hit, .stand{
	font-size: 2.25rem;
	margin: 1.25rem;
}

.game-text{
	font-size: 3rem;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 2s;
  animation-name: fade;
  animation-duration: 2s;
}

.glow{
	animation: glow 0.5s infinite;
}

@-webkit-keyframes fade {
  from {opacity: 0}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: 0}
  to {opacity: 1}
}

@keyframes glow{
	0%{color: #eef520}
	50%{color: #ffffff;}
	100%{color: #ffbc75;}
}